@{
    ViewData["Title"] = "Privacy Policy";
}
@* <h1>@ViewData["Title"]</h1> *@

<div class="p-3 bg-light border rounded shadow ">

<h1 class="text-center">Success</h1>

<div class="d-flex justify-content-center">
<form asp-action="Logout" asp-controller="Home" method="post">
    <button value="Logout" class="btn btn-danger">Logout</button>
</form>
</div>

</div>

