@{
    ViewData["Title"] = "Home Page";
}
@model User

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="process" method="post">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Birthday"></label>
            <input asp-for="Birthday" class="form-control">
            <span asp-validation-for="Birthday" class="text-danger"></span>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
