@model MyViewModel

<div class="text-center">
    <h1> @Model.Product.Name</h1>
    <p>@Model.Product.Description</p>
</div>

<div class="d-flex justify-content-evenly">
    
    <div class="flex-1">
        <h3>Categories</h3>
        @foreach (Association a in Model.AllAssociations)
        {
            <h5>@a.Category.Name</h5>
        }
        
    </div>
    @await Html.PartialAsync("_AddProduct", Model.Association)
</div>