@{
    ViewData["Title"] = "Home Page";
}
@model MyViewModel

<div class="text-center">
    <h1>Check out our roster of chefs!</h1>

    <hr>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th># of Dishes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Chef c in Model.AllChefs)
            {
                <tr>
                    <td>@c.FirstName @c.LastName</td>
                    <td>@c.Age</td>
                    <td>@c.AllDishes.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>



