<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Show Book</title>
</head>
<body class="bg-light">
    <div class="container">
        <div class="row">

            <div class="col-6">
                <h1>Title: {{book.title}}</h1>
                <p>Favorite by:</p>
                {% for one_author in book.authors_who_favorited %}
                <p>{{one_author.name}}</p>
                {% endfor %}
            </div>
            <div class="col-6">
                <form action="/join/author" method="post">
                    <h1>Add Book's Favorite</h1>
                    <input type="hidden" name="book_id" value="{{book.id}}">
                    <div class="form-group">
                        <label for="author_id">Book:</label>
                        <select name="author_id" id="author_id">
                            {% for one_author in unfavorited_authors %}
                            <option value="{{one_author.id}}">{{one_author.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-primary">Add Book to Favorites</button>
                    <a href="/" class="btn btn-primary">Home</a>
                    <a href="/create/book" class="btn btn-primary">Add Book</a>
                </form>
            </div>
        </div>
    </div>




    
</body>
</html>