<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Dashboard</title>

</head>
<body class="bg-light">
    <div class="container">

    <h1>You logged in!</h1>

    <a href="/users/logout" class="btn btn-danger">Log out</a>


    <p>Here is the Treasure. The Bee movie script.</p>
    <img src="https://external-preview.redd.it/UgRlloILTWWn3ReYOH7GBMs7L_oVvsVdcE73lFe1naM.jpg?auto=webp&s=401872182748c12b09c4617a177ede65a12e1e02" alt="bee_movie_scipt">
    </div>



</body>
</html>