/* right cards */
* {
    margin: 0px;
    padding: 0px;
}

.circleBorder1 {
    border: 2px solid lightgrey;
    border-radius: 50%;
    background-color: lightgrey;
    height: 25px;
    width: 25px;
    font-weight: bold;
}
.circleBorder2 {
    border: 2px solid lightgrey;
    border-radius: 50%;
    background-color: lightgrey;
    height: 25px;
    width: 50px;
    font-weight: bold;
}

.card-right1 h3 {
    color: white;
}

.card-right1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkgray;
    padding: 10px;
}

.card-right-main {
    border: 2px solid lightgray;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    background-color: white;
}

.userpics {
    height: 30px;
    width: 30px;
}

.requests {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
    margin: 5px;
} 

.clean-it-up {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.requests-1 {
    display: flex;
    align-items: center;
    width: 265px;
    list-style: none;
    margin: 10px;
    padding: 5px;
}

.requests-1 p {
    padding: 10px;
}

.card-right-main2 {
    background-color: white;
    border: 2px solid lightgray;
    width: 300px;
    margin-top: 30px;
}

.card-right-main2 a {
    border-top: 2px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px;
    padding: 5px;
} 