<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Sasquatch Websighting</title>

</head>
<body class="bg-light">
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Sasquatch Websighting</h1>
            <div>
                <div>
                    <h4>{{logged_user.first_name}} {{logged_user.last_name}}</h4>
                </div>
                <a href="/sightings/new" class="btn btn-primary">Report a Sighting</a>
                <a href="/users/logout" class="btn btn-danger">Log out</a>
            </div>
        </div>
        <h4>Reported Sightings </h4>
        {% for message in get_flashed_messages() %}
        <p class="text-danger">{{message}}</p>
        {%endfor%}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Reported By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for one_sighting in all_sightings %}
                <tr>
                    <td>{{one_sighting.location}}</td>
                    <td>{{one_sighting.date}}</td>
                    <td>{{one_sighting.planner.first_name}} {{one_sighting.planner.last_name}}</td>
                    <td>
                        <a href="/sightings/{{one_sighting.id}}">View</a>
                        {% if logged_user.id == one_sighting.planner.id %}
                        | <a href="/sightings/{{one_sighting.id}}/edit">Edit</a> |
                        <a href="/sightings/{{one_sighting.id}}/delete">Delete</a>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>



</body>
</html>