
.container {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 5px;
    
}

.top-nav {
    min-height: 150px;
    background-color: green;
    margin: 7px;
    padding: 7px; 
    margin-right: 16px;   
}

.side-nav{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: 7px;
}

.main{
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding: 5px;
}

.sub-content{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 5px;
}

#advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    display: block;
    margin: 5px;
}