@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <h3>Please give your name:</h3>
    <form action="/login" method="post">
    <input type="text" name="NewName" class="form-control">
    <button class="btn btn-primary">Submit / Login</button>
    </form>
</div>
