/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

 #map {
    height: 500px;
  }
  
  .bottomDiv {
    margin-top: 30px;
  }

  .spacing {
    margin: 10px;
  }

  .padding {
    padding: 5px;
  }

  .logo {
    height: 100px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }